<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>
        <link rel = "icon" href = "/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by {{name}}. It used data from api.tomtom and weatherapi to get data for geocode and forecast.</p>
            <img class="portrait" src="/img/1067974.png" alt="Nature" >
            <p>{{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>